@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@900&family=Roboto:ital,wght@0,100;0,300;1,300;1,400&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    
}

body{
    background:rgb(100, 52, 189);
}

.contenedor{
    background-color: #2c2b2b;
    width: 400px;
    height: 550px;
    margin-left: 480px;
    margin-top: 30px;
    border-radius: 5px;
}

h1{
    text-align: center;
    height: 50px;
    padding-top: 35px;
    font-size: 40px;
    color: rgb(164, 226, 71);

}
form{

    width: 300px;
    height: 220px;
    margin-top: 10px;
    margin-left: 50px;
}

input{
    background-color: #ffffff;
    margin-left: 23px;
    margin-top: 20px;
    width: 250px;
    height: 35px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    color: black;

}

a{
    color: black;
    font-size: 16px;
    margin-top: 5px;
    margin-left: 90px;
    color: rgb(164, 226, 71);

}

.cancelar{
    margin-left: 0px;
    text-decoration: none;
    color: white;
}


button{
    background-color: #15e986;
    color: #363a3a;
    font-size: 18px;
    margin-left: 75px;
    margin-top: 20px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}

button:hover{
    background-color: #088b1e ;
    cursor: pointer;
    color: #d8e7e7;
}